html{
  height: 100%;
  background-image: url(http://i.imgur.com/WwqqPWD.gif);
  background-size: cover;
}

body {
    margin: auto;
}

h1 {
    color: lime;
    font-size: 40px;
}

table, td {
    border-collapse: collapse;
    border: 5px double lime;
    font-size: 20px;
}

table {
    background-color: black;
    color: white;
}

td {
    height: 50px;
    width: 80px;
    text-align: center;
}

.match {
    background-color: limegreen;
}

.day1 {
    background-color: red;
}

.day2 {
    background-color: dodgerblue;
}

.dateInput {
  font-size: 20px;
  color: white;
  word-wrap: normal;
  padding-left: 25px;
  padding-top: 20px;
}

.date1{
  border: double;
  border-width: thick;
  border-color: dodgerblue;
  /*border-radius: 15%;*/
  color: red;
  padding: 5px;
}

.date2{
  border: double;
  border-width: thick;
  border-color: red;
  /*border-radius: 15%;*/
  color: dodgerblue;
  padding: 5px;
}
/*footer{
  color: white;
}*/
