body {
    margin: auto;
    background-image: url(http://wallpaper-gallery.net/images/cool-video-game-wallpapers/cool-video-game-wallpapers-0.jpg);
    background-size: cover;
}

h1 {
    color: lime;
    font-size: 40px;
}

table, td {
    border-collapse: collapse;
    border: 5px double lime;
    font-size: 20px;
}

table {
    background-color: black;
    color: white;
}

td {
    height: 50px;
    width: 80px;
    text-align: center;
}

.myButton {
    border: double;
    border-width: thick;
    border-color: dodgerblue;
    border-radius: 15%;
    width: auto;
    background-color: lightblue;
}

.clearButton{
    border: double;
    border-width: thick;
    border-color: dodgerblue;
    border-radius: 15%;
    width: auto;
    background-color: lightblue;
}

.match {
    background-color: limegreen;
}

.day1 {
    background-color: dodgerblue;
}

.day2 {
    background-color: red;
}

.dateInput {
  font-size: 20px;
}
